@font-face {
    font-family: "fontype-rounded";
    src: url('../fonts/FontypeRounded-rgJJ7.ttf');
}

.AboutUsContainer{
    border-style: solid;
    font-family: fontype-rounded;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.AboutUsTitleContainer{
    border-style: solid;
    width: fit-content;
    font-size: 40px;
}

.AboutUsParagraphContainer{
    border-style: solid;
    width: fit-content;
    font-size: 17px;
}