@font-face {
    font-family: "fontype-rounded";
    src: url('../fonts/FontypeRounded-rgJJ7.ttf');
}

.GalleryContainer{
    border-style: solid;
    font-family: fontype-rounded;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.GalleryTitleContainer{
    border-style: solid;
    width: fit-content;
    font-size: 40px;
}

.GalleryImageContainer{
    border-style: solid;
    width: fit-content;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
}

.OnlyImage{
    width: 60%;
    border-style: solid;
}

.image{
    width: 100%;
    border-radius: 20px;
    cursor: pointer;
}