.ImagePopContainer{
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: antiquewhite;
    background-color: rgba(0, 0, 0, .7);
    align-items:center;
    justify-content: center;
}

.PopContainer{
    display: flex;
    width: 80%;
    border-style: solid;
    align-items: flex-start;
}

.xContainer{
    border-style: solid;
    width: 10%;
}

.PoppedImage{
    width: 100%;
    border-radius: 20px;
}

.x{
    width: 10%;
    cursor: pointer;
    border-style: solid;
    height:auto;
    color: aliceblue;
}